# Hardware Crypto & Mbed TLS Acceleration
CONFIG_MBEDTLS_HARDWARE_SHA=y
CONFIG_MBEDTLS_SHA256_C=y

# FATFS / VFS Crash Resilience Optimization
CONFIG_FATFS_IMMEDIATE_FSYNC=y
CONFIG_FATFS_MAX_LFN=32

# FreeRTOS & Deep Sleep Timer Clock
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y
CONFIG_ESP32S3_RTC_CLK_SRC_EXT_CRYS=n
